<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	
	<appSettings>
		<add key="site1" value="https://www.twitch.tv/" />
		<add key="site2" value="https://www.vk.com/" />
		<add key="site3" value="https://www.twitch12325.tv/" />
		<add key="site4" value="https://www.twitch123251.tv/" />

		<add key="site5" value="https://www.twitch122423.tv/" />

		<add key="db" value="Host=localhost;Username=postgres;Password=s$cret;Database=testdb" />
		<add key="email" value="nikulin.ar@gmail.com" />


	</appSettings>



</configuration>

